/* color palettes */
/* 443627
D98324
EFDCAB
F2F6D0 */
/* 1B211A
628141
8BAE66
EBD5AB */
/* 
33425B
87DFD6
38817A
F9F8EB
*/

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8c8279 !important;
}

/* Hero Section */
.card {
  position: relative;
  text-align: center;
  border-radius: 0px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Playfair Display, serif;
}
.card-color {
  background-color: #38817a;
}

.card-title {
  color: #f5f5dc !important;
}
.card-text {
  color: #d3d3d3 !important;
}
.card-img {
  border-radius: 0px !important;
  border: 0 !important;
}
.resume-title {
  color: #f5f5dc !important;
  font-family: Playfair Display, serif;
  font-weight: bolder !important;
}

.profile-pic {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

#about {
  font-family: Playfair Display, serif !important;
}
